
body{
  background-color: white;
  box-sizing: border-box;
  margin:0;
  padding:0;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Recipes img{
  height:250px;
  width:400px
}

.Recipes{
  display:flex;
  border: 1px solid grey;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 25px;
  border-radius: 4px;
  width:800px
}

.footer{
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 60px;
  color: white;
  background-color: grey;
  justify-content: center;
}

.header{
  display: flex;
  width: 100vw;
  height: 40px;
  flex-direction: row;
  position: fixed;
  top: 0vh;
  left: 0;
  color: black;
  align-items: center;
  background-color: blue;
  justify-content: center;
  
}

.header h3{
  background-color: grey;
}

.footer a{
  background-color:grey;
  color:white
}

.RecipeList{
  max-width: 1280px;
  margin:0 auto;
  padding: 2rem;
  text-align: center;
  color:black;
}

.Sidebar{
  width:250px;
  top:40px;
  height:100vh;
  background-color:lightgray;
  color:black;
  position:fixed;

}

 .RecipePage{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left:250px;
} 

.About{
  display:flex;
  color:black;
  align-content: center;
  justify-content: center;
}

.gitHub img{
  height:40px;
  width:40px
}

.logo {
  height: 60px;
  width: 60px;

}



